.card {
    width: 360px;
    height: 600px;
    position: relative;
    background-color: $main-bg;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 3.2px 2.2px #00000030, 0 7px 5.4px #00000033, 0 12.1px 10.1px #00000038, 0 19.8px 18.1px #00000045,
        0 34.7px 33.8px #00000000, 0 81px 81px #00000000;
    margin-top: 50px;
    margin-right: -40px;
    border-radius: 30px;
    padding: 0 28px;
    @include mobile {
        width: 340px;
    }
    @include tablet {
        margin: 20px auto;
        display: block;
    }
    &-top {
        margin: 12px 0;
        position: relative;
    }
    &-smallshape {
        display: block;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background-color: #f6c90e;
        top: -20%;
        left: -50%;
        z-index: 0;
    }
    &-title {
        font-size: 24px;
        font-weight: 700;
        margin: 16px 0;
        position: relative;
    }
    &-top > img {
        width: 50px;
        height: 26px;
    }
    &-body {
        height: calc(100% - 98px);
        position: relative;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .shop-item {
            padding-bottom: 40px;
            &-image {
                border-radius: 30px;
                height: 380px;
                display: flex;
                align-items: center;
                overflow-y: hidden; /* Hide vertical scrollbar */
                overflow-x: hidden;
                img {
                    display: block;
                    width: 100%;
                    filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
                    transform: rotate(-24deg);
                    margin-left: -16px;
                }
            }
            &-name {
                font-size: 20px;
                font-weight: 700;
                margin: 26px 0 20px;
                line-height: 1.5;
            }
            &-description {
                font-size: 13px;
                color: $txt-second-color;
                line-height: 1.8;
                margin-bottom: 20px;
            }
            &-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &-price {
                font-size: 18px;
                font-weight: 700;
            }
            .inactive {
                width: 46px;
                pointer-events: none;
                cursor: default;
            }
            &-button {
                cursor: pointer;
                background-color: $main-color-yellow;
                font-weight: 700;
                font-size: 14px;
                box-sizing: border-box;
                width: auto;
                height: 46px;
                min-width: 46px;
                padding: 16px 20px;
                border-radius: 100px;
                transition: all 0.25s ease;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                white-space: nowrap;
                position: relative;
                display: flex;
                align-items: center;
                overflow: hidden;
                &-cover {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &-check-icon {
                        width: 100%;
                        height: 100%;
                        transform: translate(-100%, -73%) rotate(-45deg);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        &:before {
                            width: 3px;
                            height: 50%;
                        }
                        &:after {
                            width: 100%;
                            height: 3px;
                        }
                        &:before,
                        &:after {
                            content: "";
                            display: block;
                            background-color: #303841;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}
